<!DOCTYPE HTML>
<html ng-app="task3Hw">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <style>
        .selected {
            background-color: lightcoral;
        }

        li {
            cursor: pointer;
        }

        li:hover {
            background-color: lightgrey;
        }

        ul {
            list-style: none;
        }
    </style>
</head>

<body ng-controller="mainController">
    <div class="container">
        <div class="page-header">
            <h1>Test</h1>
        </div>
        <div class="well">
            <div class="radio" ng-repeat="question in questions"><!--ng-repeat создает дочерний $scope!-->
                <label><input type="radio" name="questions" ng-model="$parent.questionView" ng-value="question.text">{{question.text}}</label>
            </div>
        </div>
        <h4>{{questionView}}</h4>
        <div class="form-group" ng-switch on="questionView">
             <ul class="list-group" ng-switch-when="Question 1">
                <li class="list-group-item" ng-repeat="answer in questions[0].answers" ng-class="{selected: answer.isSelected}" ng-click="selectAnswer(answer, questions[0].answers)">{{answer.text}}</li>
            </ul>
            <ul class="list-group" ng-switch-when="Question 2">
                <li class="list-group-item" ng-repeat="answer in questions[1].answers" ng-class="{selected: answer.isSelected}" ng-click="selectAnswer(answer, questions[1].answers)">{{answer.text}}</li>
            </ul>
            <ul class="list-group" ng-switch-when="Question 3">
                <li class="list-group-item" ng-repeat="answer in questions[2].answers" ng-class="{selected: answer.isSelected}" ng-click="selectAnswer(answer, questions[2].answers)">{{answer.text}}</li>
            </ul>
            <ul class="list-group" ng-switch-when="Question 4">
                <li class="list-group-item" ng-repeat="answer in questions[3].answers" ng-class="{selected: answer.isSelected}" ng-click="selectAnswer(answer, questions[3].answers)">{{answer.text}}</li>
            </ul>
            <ul class="list-group" ng-switch-when="Question 5">
                <li class="list-group-item" ng-repeat="answer in questions[4].answers" ng-class="{selected: answer.isSelected}" ng-click="selectAnswer(answer, questions[4].answers)">{{answer.text}}</li>
            </ul>
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-primary" value="Submit" ng-click="getResults()">
        </div>
        <div class="well">
            <h1 ng-if="results">Ваш результат: {{results}}</h1>
        </div>
    </div>
    <script>
        var task3Hw = angular.module("task3Hw", [])
            .controller("mainController", function($scope) {
                $scope.questions = [{
                    text: "Question 1",
                    answers: [{
                        text: "Q1 Answer 1",
                        rating: 5,
                        isSelected: false
                    }, {
                        text: "Q1 Answer 2",
                        rating: 4,
                        isSelected: false
                    }, {
                        text: "Q1 Answer 3",
                        rating: 2,
                        isSelected: false
                    }, {
                        text: "Q1 Answer 4",
                        rating: 3,
                        isSelected: false
                    }]
                }, {
                    text: "Question 2",
                    answers: [{
                        text: "Q2 Answer 1",
                        rating: 1,
                        isSelected: false
                    }, {
                        text: "Q2 Answer 2",
                        rating: 3,
                        isSelected: false
                    }, {
                        text: "Q2 Answer 3",
                        rating: 2,
                        isSelected: false
                    }, {
                        text: "Q2 Answer 4",
                        rating: 4,
                        isSelected: false
                    }]
                }, {
                    text: "Question 3",
                    answers: [{
                        text: "Q3 Answer 1",
                        rating: 4,
                        isSelected: false
                    }, {
                        text: "Q3 Answer 2",
                        rating: 3,
                        isSelected: false
                    }, {
                        text: "Q3 Answer 3",
                        rating: 1,
                        isSelected: false
                    }, {
                        text: "Q3 Answer 4",
                        rating: 2,
                        isSelected: false
                    }]
                }, {
                    text: "Question 4",
                    answers: [{
                        text: "Q4 Answer 1",
                        rating: 2,
                        isSelected: false
                    }, {
                        text: "Q4 Answer 2",
                        rating: 1,
                        isSelected: false
                    }, {
                        text: "Q4 Answer 3",
                        rating: 4,
                        isSelected: false
                    }, {
                        text: "Q4 Answer 4",
                        rating: 5,
                        isSelected: false
                    }]
                }, {
                    text: "Question 5",
                    answers: [{
                        text: "Q5 Answer 1",
                        rating: 3,
                        isSelected: false
                    }, {
                        text: "Q5 Answer 2",
                        rating: 2,
                        isSelected: false
                    }, {
                        text: "Q5 Answer 3",
                        rating: 5,
                        isSelected: false
                    }, {
                        text: "Q5 Answer 4",
                        rating: 1,
                        isSelected: false
                    }]
                }];
                $scope.results = 0;
                $scope.questionView = "Question 1";
                $scope.selectAnswer = function(selectedAnswer, answers) {
                    for (var answer in answers) {                      
                        answers[answer].isSelected = false;
                    }
                    selectedAnswer.isSelected = true;
                }
                $scope.getResults = function() {
                    for (var question in $scope.questions) {
                        var isNotEmpty = false;
                        for (var answer in $scope.questions[question].answers) {
                            if ($scope.questions[question].answers[answer].isSelected) {
                                $scope.results += $scope.questions[question].answers[answer].rating;
                                isNotEmpty = true;
                            }
                        }
                        if (!isNotEmpty) {
                            alert("Ответьте на все вопросы!");
                            $scope.results = 0;
                            return;
                        }
                    }
                }

            })
    </script>
</body>

</html>