.cyan-text {
    color: #00e1ff;
}

.white-text {
    color: white;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    position: fixed;
    background-color: white;
    height: 100px;
}